.vscode/
*.exe
build/
.clang-format
*.bat
MakeFile
*.vcxproj
*.vcxproj.*
CMakeLists.txt
.vs/
x64/
*.pro.*
리눅스\ 서버\ 강의PPT/
리눅스프로그래밍\ ppt/
리눅스서버\ 강의PPT.7z
리눅스프로그래밍\ ppt.zip
tcpip/
한빛\ 익스플로링\ 아두이노/
생능\ openCV로\ 배우는\ 영상처리\ 및\ 응용/
강의노트_pdf/
교재\ 예제\ 및\ 그림\ 소스/
Arm으로\ 배우는\ 임베디드리눅스\ 교안/
image/
cache/
data/
__pycache__
*.zip
*.pdf
*.png
